# Extra packages (not in requirements-comp.txt)
coloredlogs==15.0.1
flatbuffers==25.2.10
humanfriendly==10.0
onnx==1.18.0
onnxruntime==1.22.0
protobuf==6.31.1
psutil==7.0.0
thop==0.1.1.post2209072238

opencv-python==4.9.0.80
tqdm>=4.60.0
pathlib2>=2.3.0
pillow==10.4.0
opencv-python-headless==4.10.0.84

# timm (Transformer models)
timm==0.9.16

# Etc
matplotlib==3.9.0
pyyaml==6.0.2

fastapi
uvicorn
python-multipart 

# SAM-HQ 관련
segment-anything @ git+https://github.com/SysCV/sam-hq.git